[Unit]
Description=Redmine Service
After=network.target

[Service]
Type=simple
User=borsheng
WorkingDirectory=/home/borsheng/redmine
Environment=RAILS_ENV=production
ExecStart=/usr/local/bin/bundle exec rails server -e production -p 3000
Restart=always

[Install]
WantedBy=multi-user.target
